<!--<div *ngIf="user==null">-->
<!--<button class="btn btn-primary" (click)="login()">Login with Google</button>-->
<!--</div>-->
<!--<div *ngIf="user!=null">-->
<!--{{user.displayName}}-->
<!--<button class="btn btn-primary" (click)="logout()">Logout</button>-->
<!--</div>-->

<div *ngIf="afAuth.user | async as user; else showLogin">
  <a routerLink="/home"><h1>Hello {{ user.displayName }}!</h1></a>
  <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>
