<form [formGroup]="form" (validSubmit)="onCrear()">
  <div class="card" id="opinion">
    <div class="card text-center" style="background-color: #cdd6db">
      <div class="card-header font-weight-bold">
        <h3 class="card-title"><Strong>Deje su Opinion</Strong></h3>
      </div>
      <div class="card-body">
        <div class="col-md-12 col-sm-10">
          <div class="input-group mb-3 form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="material-icons md-36">assignment_ind</i></span>
            </div>
            <input type="text" maxlength="100" minlength="0" class="form-control" name="nombre"
                   placeholder="Nombres" aria-label="Nombres" aria-describedby="basic-addon1" formControlName="nombre"
                   matInput autofocus required>
            <bfv-messages></bfv-messages>
          </div>
        </div>

        <div class="col-md-12 col-sm-10">
          <div class="input-group mb-3 form-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon2"><i class="material-icons md-36">edit</i></span>
            </div>
            <textarea maxlength="500" minlength="0" class="form-control" name="opinion"
                      placeholder="Opinion" aria-label="Opinion" aria-describedby="basic-addon2"
                      formControlName="opinion"
                      matInput autofocus required></textarea>
          </div>
        </div>
        <label>Calificación del Servicio</label>
        <br>
        <mat-slider thumbLabel tickInterval="1" min="1" max="5" value="3" name="puntaje"
                    formControlName="puntaje"></mat-slider>
        <div class="col-md-12 col-sm-5">
          <div class="trans btn-lg">
            <div class="trans btn-lg">
              <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg btn-sm">Enviar<i
                  class="material-icons md-36">check</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body" style="color: black">
        <div class="card-header font-weight-bold">
          <h3 class="card-title"><Strong>Opiniones de Usuarios del Servicio</Strong></h3>
        </div>
        <div class="table-wrapper-scroll-y">
          <table class="table table-bordered">
            <thead class="card-footer font-weight-bold">
            <tr>
              <th>Nombres</th>
              <th>Opinion</th>
              <th>Puntaje</th>
            </tr>
            </thead>
            <tbody class="card-footer">
            <tr *ngFor="let review of reviews">
              <td>{{ review.nombre }}</td>
              <td>{{ review.opinion }}</td>
              <td>{{ review.puntaje }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>
